<div class="container mx-auto p-10 text-gray-600">
  <div class="grid grid-cols-3 gap-4">
    <div>
      <h2 class="text-xl font-semibold mb-2">就寝直前におすすめのルーティーン</h2>
      <% @routines_before0.each do |routine| %>
        <div class="card bordered">
          <figure>
            <!-- イメージ -->
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= routine.name %></h2>
            <p><%= routine.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2">就寝1時間前におすすめのルーティーン</h2>
      <% @routines_before1.each do |routine| %>
        <div class="card bordered">
          <figure>
            <!-- イメージ -->
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= routine.name %></h2>
            <p><%= routine.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2">就寝3時間以上前におすすめのルーティーン</h2>
      <% @routines_before3.each do |routine| %>
        <div class="card bordered">
          <figure>
            <!-- イメージ -->
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= routine.name %></h2>
            <p><%= routine.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
