<div class="container mx-auto text-gray-700 p-4 flex justify-center">
<div class="w-auto">
  <h1 class="text-3xl mb-4 text-center">睡眠の記録</h1>
  <table class="text-2xl bg-white rounded-md shadow overflow-hidden mx-auto">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-10 py-2">日付</th>
        <th class="px-10 py-2">就寝時間</th>
        <th class="px-10 py-2">起床時間</th>
        <th class="px-10 py-2">調子</th>
      </tr>
    </thead>
    <tbody>
      <% @sleep_records.each do |record| %>
        <tr>
          <td class="border px-4 py-2"><%= record.record_date.strftime %></td>
          <td class="border px-4 py-2"><%= record.bedtime&.in_time_zone("Tokyo").strftime("%H:%M") %></td>
          <td class="border px-4 py-2"><%= record.wake_up_time&.in_time_zone("Tokyo").strftime("%H:%M") %></td>
          <td class="border px-4 py-2"><%= record.morning_condition ? ['良い', '普通', '悪い'][record.morning_condition - 1] : '未設定' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-3xl text-center mt-10 px-4 py-4 bg-orange-500 rounded-lg">
  <%= link_to "就寝時間と目標の起床時間を設定", new_sleep_record_path %>
  </div>
</div>
</div>
