<div class="container mx-auto p-4 flex flex-col items-center">
  <h1 class="text-4xl my-5 text-gray-700">睡眠時間の設定</h1>
  <%= form_with(model: @user, local: true, class: 'bg-white p-4 rounded shadow w-full md:w-1/2') do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <div class="my-10 flex flex-col items-center">
    <%= form.label :bedtime, '就寝時間', class: 'block text-lg font-medium text-gray-600' %>
    <%= form.time_field :bedtime, value: @user.bedtime&.strftime("%H:%M") || '00:00', class: 'mt-1 p-3 w-3/4 border rounded-md text-lg' %>
  </div>
  <div class="mb-10 flex flex-col items-center">
    <%= form.label :notification_time, '起床時間', class: 'block text-lg font-medium text-gray-600' %>
    <%= form.time_field :notification_time, value: @user.notification_time&.strftime("%H:%M") || '07:00', class: 'mt-1 p-3 w-3/4 border rounded-md text-lg' %>
  </div>
    <div class="flex justify-center">
      <%= form.submit '保存', class: 'btn btn-primary text-lg py-2 px-4' %>
    </div>
  <% end %>
</div>
