<section class="text-gray-700">
  <h1 class="text-4xl my-10 text-center">睡眠の悩みを選択してください</h1>

  <div class="my-20 flex justify-center text-2xl">
  <%= form_with url: recommend_routines_users_path, method: :post, id: 'issue_form', data: { controller: "issue-form" } do |f| %>
    <%= f.select :issue_type, options_for_select([['選択してください', '']].concat(SleepIssue.issue_types.keys.map { |key| [I18n.t("enums.sleep_issue.issue_type.#{key}"), key] }), @current_issue_type), {}, id: 'issue_type_selector', class: "text-gray-900 text-center text-2xl text-white py-3", data: { target: "issue-form.selector" } %>
    <%= f.submit "登録", data: { action: "click->issue-form#submitForm" } %>
  <% end %>
  </div>

  <turbo-frame id="issue_content" data-target="turbo-frame.frame">
  <div class="container mx-auto p-20 text-gray-600">
    <div class="grid grid-cols-3 gap-4">
      <% [@routines_before0, @routines_before1, @routines_before3].zip(['就寝直前におすすめのルーティーン', '就寝1時間前におすすめのルーティーン', '就寝3時間以上前におすすめのルーティーン']).each do |routines, title| %>
        <div>
          <h2 class="font-semibold mb-2"><%= title %></h2>
          <% routines.each do |routine| %>
            <div class="card bordered mb-5">
              <%= link_to routine_path(routine), data: { turbo: "false" } do %>
                <div class="card-body">
                  <h2 class="card-title"><%= routine.name %></h2>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
</section>
