<h1><%= @user.name %>'s Profile</h1>
<p>Email: <%= @user.email %></p>
<p>Bedtime: <%= @user.bedtime %></p>
<p>Wake up time: <%= @user.wake_up_time %></p>
    <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: 'btn btn-ghost btn btn-outline text-xl' %>

