<div class="navbar bg-blue-700 py-4">
  <%= link_to 'ZzzCrafter', root_path, class: 'btn btn-ghost normal-case text-3xl text-green-500' %>
  <div class="flex-grow"></div>
  <%= link_to '睡眠時間の管理', '#', class: 'btn btn-outline btn-accent text-xl mr-4' %>
  <%= link_to 'ルーティーン一覧', '#', class: 'btn btn-ghost btn-outline btn-secondary text-xl mr-4' %>
  <% if logged_in? %>
    <%= link_to 'ユーザーページ', user_path(current_user), class: 'btn btn-ghost btn btn-outline text-xl' %>
  <% else %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-ghost btn btn-outline text-xl' %>
  <% end %>
</div>
</div>
